{% load static %}
<nav class="navbar navbar-expand-lg bg-light">
    <a class="navbar-brand mr-4" href="/">
      <h2>Mi estacionamiento</h2>
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/estacionamiento/disponibilidad">Disponibilidad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/estacionamiento/privado/listar">Estacionamiento Privados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/estacionamiento/particular/listar">Estacionamiento Particular</a>
          </li>
          <li class="nav-link dropdown">
            <a data-toggle="dropdown" href="#">Ingresar
            <ul class="dropdown-menu text-left">
              <li><a class="nav-link fa fa-user" href="#"> Arrendador</a></li>
              <li><a class="nav-link fa fa-car" href="#"> Conductor</a></li>
            </ul>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2 buscador-principal" type="text" placeholder="Buscar por comuna" aria-label="Buscar">
          <button class="btn btn-outline-success my-2 my-sm-0 buscador-principal" type="submit">Buscar</button>
        </form>
      </div>
</nav>