{% extends 'base/base.html' %}
{% load static %}

{% block title %}Estacionamientos Disponibles{% endblock %}
{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}

{% block content %}
<section class="index-content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Estacionamientos disponibles</h1>
            </div>
            <div class="card-body">
                <table class="table table-striped table-dark text-light text-center">
                    <thead>
                        <tr>
                            <th scope="col">Tipo</th>
                            <th scope="col">Direccion</th>
                            <th scope="col">Comuna</th>
                            <th scope="col">Precio Base</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if estacionamientos %}
                            {% for estacionamiento in estacionamientos %}
                                <tr>
                                    <td>{{ estacionamiento.tipo_estacionamiento }}</td>
                                    <td>{{ estacionamiento.calle }} {{ estacionamiento.numeracion }}</td>
                                    <td>{{ estacionamiento.comuna_estacionamiento }} </td>
                                    <td>${{ estacionamiento.precio_base }}</td>
                                    <td>{{ estacionamiento.categoria_estacionamiento }}</td>
                                    <td>
                                        <a class="btn btn-warning" href="/estacionamiento/{{ estacionamiento.id }}/disponibilidad_detalle/" role="button">DETALLE  </a>
                                        <a class="btn btn-primary" href="/estacionamiento/{{ estacionamiento.id }}/disponibilidad_detalle/mapa" role="button">MAPA</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <h1>No hay registros de estacionamientos</h1>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock%}

{% block footer %} {% include 'base/footer.html' %} {% endblock %}