{% extends 'base/base.html' %}
{% load static %}

{% block title %}Estacionamientos{% endblock %}
{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}

{% block content %}
<section class="index-content">
    <div class="container"> 
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#!">Busqueda De Estacionamientos</a>
      
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Tipo</th>
              <th>Comuna</th>
              <th>Estado</th>
              <th>Calle</th>
              <th>Numeración</th>
              <th>Listar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <tr style="background-color: rgb(125, 125, 125);">
              <td>Privado</td>
              <td>Vitacura</td>
              <td>Disponible</td>
              <td>Av.Dorsal</td>
              <td>123</td>
              <td><button type="button" class="btn btn-success">Seleccionar</button><button type="button" class="btn btn-danger">Eliminar</button><button type="button" class="btn btn-info">Info</button></td>

            </tr>
            <tr>
              <tr style="background-color: rgb(125, 125, 125);">
              <td>Privado</td>
              <td>Lo Barnechea</td>
              <td>Disponible</td>
              <td>Av.Esperanza</td>
              <td>321</td>
              <td><button type="button" class="btn btn-success">Seleccionar</button><button type="button" class="btn btn-danger">Eliminar</button><button type="button" class="btn btn-info">Info</button></td>
            </tr>
          </tbody>
        </table>

        <button type="button" class="btn btn-success">Pagar</button>

        </nav>
          
          
        
    </div>
</section>
{% endblock%}

{% block footer %} {% include 'base/footer.html' %} {% endblock %}