{% extends 'base/base.html' %}
{% load static %}

{% block title %}Estacionamientos Disponibles{% endblock %}
{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}

{% block content %}
<section class="index-content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Estacionamientos Privados</h1>
            </div>
            <div class="card-body">
                <table class="table table-striped table-dark text-light text-center">
                    <thead>
                        <tr>
                            <th scope="col">TIPO</th>
                            <th scope="col">COMUNA</th>
                            <th scope="col">CATEGORÍA</th>
                            <th scope="col">ESTADO</th>
                            <th scope="col">CALLE</th>
                            <th scope="col">NUMERACIÓN</th>
                            <th scope="col">ACCION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if estacionamientos %}
                            {% for estacionamiento in estacionamientos %}
                                <tr>
                                    <td>{{ estacionamiento.tipo_estacionamiento }}</td>
                                    <td>{{ estacionamiento.comuna_estacionamiento }}</td>
                                    <td>{{ estacionamiento.categoria_estacionamiento }}</td>
                                    <td>{{ estacionamiento.estado_estacionamiento }}</td>
                                    <td>{{ estacionamiento.calle }}</td>
                                    <td>{{ estacionamiento.numeracion }}</td>
                                    <td>
                                        <a class="btn btn-warning" href="/estacionamiento/{{ estacionamiento.id }}/disponibilidad/" role="button">Disponibilidad</a>
                                        <a class="btn btn-primary" href="/estacionamiento/privado/editar/{{ estacionamiento.id }}/" role="button">Editar</a>
                                        <a class="btn btn-danger" href="/estacionamiento/privado/eliminar/{{ estacionamiento.id }}" role="button">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <h1>No hay registros de estacionamientos</h1>
                        {% endif %}
                    </tbody>
                </table>
                <div>
                    <a class="btn btn-success" href="/estacionamiento/privado/agregar/" role="button">Agregar</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}

{% block footer %} {% include 'base/footer.html' %} {% endblock %}